.asc::after {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin: auto 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: url('../../assets/img/arrow-up.svg');
}

.desc::after {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin: auto 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: url('../../assets/img/arrow-down.svg');
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:after {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    width: 1em;
    height: 1em;
    margin-left: 1px;
    vertical-align: text-bottom;
    border: .125em solid grey;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner .75s linear infinite;
}

td.fitWidth {
    width: 1px;
    white-space: nowrap;
}