<div class="col">
    <div class="row">
        <h3>Tasks</h3>
    </div>
    <div class="row">
        <app-add-task class="w-100"></app-add-task>    
    </div>
    <div class="row">
        <app-search-tasks></app-search-tasks>
    </div>
    <app-alert *ngIf="errorMessage !== ''" alertMessage="{{ errorMessage }}" (dismissEvent)="onDismissAlert()"></app-alert>
    <div class="row">
        <table class="table table-striped w-75">
            <thead>
                <th scope="col" sortable field="description" (sort)="onSort($event)">Description</th>
                <th scope="col" sortable field="createdAt" (sort)="onSort($event)">Created</th>
                <th scope="col" sortable field="updatedAt" (sort)="onSort($event)">Updated</th>
                <th scope="col" sortable field="completed" (sort)="onSort($event)">Completed</th>
            </thead>            
            <tbody *ngIf="(tasks$ | async) as tasks; else noTasksBlock">             
                <tr *ngFor="let task of tasks">
                    <td>{{ task.description }}</td>
                    <td>{{ task.createdAt | date:"MMM d, y, h:mm a" }}</td>
                    <td>{{ task.updatedAt | date:"MMM d, y, h:mm a" }}</td>
                    <td>
                        <svg *ngIf="task.completed" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-check2 text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        <svg *ngIf="!task.completed" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-x text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </td>
                </tr>            
            </tbody>
            <ng-template #noTasksBlock>
                <p>No tasks found.</p>
            </ng-template>
        </table>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between p-2">
           <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="onPageChange()">
            </ngb-pagination>
            <select
                class="form-control selectPageSize"
                style="width:auto"
                [(ngModel)]="pageSize"
                (ngModelChange)="onPageSizeChange()">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="15">15 items per page</option>
                <option [ngValue]="20">20 items per page</option>
            </select> 
        </div>        
    </div>
</div>
