<div class="d-flex flex-column justify-content-center">
    <app-alert *ngIf="errorMessage !== ''" alertMessage="{{ errorMessage }}" (dismissEvent)="onDismissAlert()"></app-alert>
    <div class="d-flex justify-content-start align-items-center mb-2 px-2">
        <span class="mr-1">Showing</span>
        <select
            class="form-control selectPageSize"
            style="width:auto"
            [(ngModel)]="pageSize"
            (ngModelChange)="onPageSizeChange()">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="15">15 items per page</option>
            <option [ngValue]="20">20 items per page</option>
        </select>
        <button class="btn btn-info ml-auto" (click)="toggleSearch()">
            Search
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
        </button>
        <button class="btn btn-success ml-2">
            New
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
    </div>
    <div class="flex-fill px-2" [@collapseExpandAnim]="collapseSearch">
        <div class="card mx-auto my-2 text-white bg-dark">
            <div class="card-body">
                <app-search-tasks></app-search-tasks>
            </div>
        </div>
    </div>
    <div class="flex-fill">
        <table class="table table-dark table-striped table-borderless">
            <thead>
                <th scope="col" sortable field="description" (sort)="onSort($event)">Description</th>
                <th scope="col" sortable field="createdAt" (sort)="onSort($event)">Created</th>
                <th scope="col" sortable field="updatedAt" (sort)="onSort($event)">Updated</th>
                <th scope="col" sortable field="completed" (sort)="onSort($event)">Completed</th>
                <th scope="col">Action</th>
            </thead>            
            <tbody *ngIf="(tasks$ | async) as tasks; else noTasksBlock" [@tableRowAnimation]="animateRows">             
                <tr *ngFor="let task of tasks">
                    <td>{{ task.description }}</td>
                    <td>{{ task.createdAt | date:"MMM d, y, h:mm a" }}</td>
                    <td>{{ task.updatedAt | date:"MMM d, y, h:mm a" }}</td>
                    <td>
                        <svg *ngIf="task.completed" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-check2 text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        <svg *ngIf="!task.completed" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-x text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </td>
                    <td>
                        <a class="btn btn-secondary mr-2" routerLink="/tasks/edit/{{task.id}}">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>            
            </tbody>
            <ng-template #noTasksBlock>
                <p>No tasks found.</p>
            </ng-template>
        </table>
    </div>
    <div class="align-self-center">
        <div class="d-flex justify-content-between p-2">
           <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="onPageChange()">
            </ngb-pagination>
             
        </div>        
    </div>
</div>
