<div class="mx-4 my-1">
    <h4>Search Tasks</h4>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="my-2">
        <div class="row justify-content-start align-items-end">
            <div class="col-xs-12 col-md-4 mb-3">
                <h5>Date Created</h5>
                <div class="form-row align-items-center mb-2">
                    <div class="col-xs-12 col-md-auto">From</div>
                    <div class="col-xs-12 col-md-auto">
                        <input
                            type="date"
                            class="form-control"
                            min="{{ minDate }}"
                            [attr.max]="endCreatedAt.value !== '' ? endCreatedAt.value : null"
                            formControlName="start_createdAt">
                    </div>
                    <div class="col-xs-12 col-md-auto">To</div>
                    <div class="col-xs-12 col-md-auto">
                        <input
                            type="date"
                            class="form-control"
                            [attr.min]="startCreatedAt.value !== '' ? startCreatedAt.value : minDate"
                            formControlName="end_createdAt">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 mb-3">
                <h5>Last Updated</h5>
                <div class="form-row align-items-center">
                    <div class="col-xs-12 col-md-auto">From</div>
                    <div class="col-xs-12 col-md-auto">
                        <input
                            type="date"
                            class="form-control"
                            [attr.min]="startCreatedAt.value !== '' ? startCreatedAt.value : minDate"
                            [attr.max]="endUpdatedAt.value !== '' ? endUpdatedAt.value : null"
                            formControlName="start_updatedAt">
                    </div>
                    <div class="col-xs-12 col-md-auto">To</div>
                    <div class="col-xs-12 col-md-auto">
                        <input
                            type="date"
                            class="form-control"
                            [attr.min]="startUpdatedAt.value !== '' ? startUpdatedAt.value : minDate"
                            formControlName="end_updatedAt">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2 mb-3">
                <div class="form-row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-check my-1">
                            <input class="form-check-input" type="checkbox" formControlName="complete">
                            <label class="form-check-label">Complete</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-check my-1">
                            <input class="form-check-input" type="checkbox" formControlName="incomplete">
                            <label class="form-check-label">Incomplete</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-2 d-flex justify-content-end">
                <button type="button" class="btn btn-secondary my-1 align-self-sm-start" (click)="resetForm()">
                    Clear
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
                <button type="submit" class="btn btn-primary my-1 ml-2" [attr.disabled]="isLoading ? true : null">
                    <span *ngIf="!isLoading">
                        Submit
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>        
    </form>   
</div>
