<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-alert *ngIf="errMessage !== ''" [alertMessage]="errMessage" (dismissEvent)="dismissAlert()"></app-alert>
    <input
        type="text"
        class="form-control my-2"
        placeholder="Email"
        formControlName="email"
        email
        required
        [class.is-valid]="email.valid && email.touched"
        [class.is-invalid]="email.invalid && email.touched">
    <input
        type="password"
        class="form-control my-2"
        placeholder="Password"
        formControlName="password"
        required
        minlength="7"
        [class.is-valid]="password.valid && password.touched"
        [class.is-invalid]="password.invalid && password.touched">
    <button class="btn btn-primary float-right" type="submit" *ngIf="!isLoading">Login</button>
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
</form>
