<div class="container">
    <div class="jumbotron mt-5 d-flex flex-column align-items-center shadow">
        <h1 class="display-4">Task Manager</h1>
        <hr class="my-4 w-100">
        
        <div class="d-flex flex-column justify-content-center" *ngIf="!isComplete && errorMessage == ''">
            <div class="my-2" id="recaptcha-container">
                <re-captcha
                    formControlName="recaptcha"
                    (resolved)="onRecaptchaResolved($event)"
                    required>
                </re-captcha>
            </div>
            <button class="btn btn-lg btn-primary" (click)="onCreateDemo()" [attr.disabled]="(!recaptchaResolved || isLoading) ? true : null">Create Demo Account</button> 
            <div class="spinner-grow text-secondary" role="status" *ngIf="isLoading && !isComplete">
                <div class="sr-only">Loading...</div>
            </div>

            <p class="mt-2 font-italic">Note: Demo accounts are only for trial purposes and are periodically deleted.</p>
        </div>

        <div class="alert alert-success" *ngIf="!isLoading && isComplete">
            <p>Demo account created, redirecting...</p>
        </div>

        <div class="alert alert-danger d-flex justify-content-between" *ngIf="!isLoading && !isComplete && errorMessage !== ''">
            <p class="align-self-start">{{ errorMessage }}</p>
            <div class="clearfix"></div>
            <button class="btn btn-primary" (click)="onRetry()">Retry</button>
        </div>

        <a class="mt-4" routerLink="/login">Return to Login</a>
        
    </div>
</div>