<h3>Manage Profile</h3>
<form class="my-2 w-75" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-danger" *ngIf="errorMessage !== ''">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input
            type="text"
            class="form-control"
            id="name" 
            formControlName="name"
            required
            [class.is-valid]="name.valid && name.dirty"
            [class.is-invalid]="name.invalid && name.dirty">
        <div class="invalid-feedback" *ngIf="name.dirty && name.invalid && name.errors.required">
            Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            required
            [class.is-valid]="email.valid && email.dirty"
            [class.is-invalid]="email.invalid && email.dirty">
        <div class="invalid-feedback" *ngIf="email.dirty && email.invalid && email.errors">
            <p *ngIf="email.errors.required">Email Address is required</p>
            <p *ngIf="email.errors.emailExists">Email Address is already in use</p>
        </div>
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            minlength="7"
            aria-describedby="passwordHelp"
            [class.is-valid]="password.valid && password.dirty"
            [class.is-invalid]="password.invalid && password.dirty">
        <small id="passwordHelp" class="form-text text-muted">Password must be at least 7 characters</small>
        <div class="invalid-feedback" *ngIf="password.dirty && password.invalid && password.errors">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password must be at least 7 characters</p>
        </div>
    </div>
    <div class="form-group">
        <label for="password2">Re-enter New Password</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            formControlName="password2"
            minlength="7"
            aria-describedby="passwordHelp"
            [class.is-valid]="password2.valid && password2.dirty && userForm.errors?.passwordMatches !== false"
            [class.is-invalid]="password2.dirty && (password2.invalid || userForm.errors?.passwordMatches === false)">
        <div class="invalid-feedback" *ngIf="password2.dirty && password2.invalid && password2.errors">
            <p *ngIf="password2.errors.required">Password is required</p>
            <p *ngIf="password2.errors.minlength">Password must be at least 7 characters</p>
        </div>
        <div class="invalid-feedback" *ngIf="userForm.errors?.passwordMatches === false && password2.dirty">
            <p>Password fields do not match</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [attr.disabled]="(isLoading || userForm.status !== 'VALID') ? true : null">Submit</button>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</form>
