<div class="container">
    <div class="jumbotron mt-5 d-flex flex-column align-items-center shadow">
        <h1 class="display-4">Task Manager</h1>
        <p class="lead">A minimalist approach to task management</p>
        <hr class="my-4 w-100">
        <app-login class="w-50" *ngIf="loginMode"></app-login>
        <app-signup class="w-50" *ngIf="!loginMode" (signupCompleted)="onSignupCompleted($event)"></app-signup>
        <p class="mt-3" *ngIf="loginMode">
            Don't have an account? 
            <a href="#" (click)="$event.preventDefault(); toggleMode()">Signup</a> 
            or try out a 
            <a href="#" (click)="$event.preventDefault()">live demo</a>.
        </p>
        <p class="mt-3" *ngIf="!loginMode">
            Already have an account? 
            <a href="#" (click)="$event.preventDefault(); toggleMode()">Return to Login</a> 
            or try out a 
            <a href="#" (click)="$event.preventDefault()">live demo</a>.
        </p>
    </div>
</div>

